<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blank.rohansharma.collegecompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->

    <!--<uses-feature android:name="android.hardware.wifi" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AttendanceActivityS"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blank.rohansharma.collegecompanion.MainActivity" />
        </activity>

        <receiver
            android:name=".Receiver0"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="abc" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReceiverChangeProfile"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="changeProfileToNormal" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AttendanceActivityT"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blank.rohansharma.collegecompanion.MainActivity" />
        </activity>
        <activity
            android:name=".TimeTableActivity"
            android:label="Time Table"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>